<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- ANNOTATIONS POUR L'INJECTION DE DEPENDANCES -->
	<context:annotation-config />
		
	<import resource="classpath:/datasource.xml" />	
	<import resource="classpath:/hibernate.xml" />
  	<import resource="classpath:/Spring-core.xml" />
  	<import resource="classpath:/Spring-service.xml" />
  	<import resource="classpath:/Spring-persistense.xml" />
  	<import resource="classpath:/Spring-binding.xml" />

	  	

	
  	
</beans>